@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  min-height: 100vh; /* Ensures full viewport height */
  width: 100vw; /* Ensures full viewport width */
  background: radial-gradient(
    circle at 100% 120%,
    #006eff,
    #006af7,
    #0051c0,
    #001641,
    #000002,
    #000000,
    #000000,
    #000002,
    #001641,
    #0051c0,
    #006af7,
    #006eff
  ); /* made at https://learnui.design/tools/gradient-generator.html */
  background-size: cover; /* Ensures it doesn't repeat */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixes the background during scroll */
}
